<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>Home</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/services">Our Services</a>
            <a href="/contact">Contact Us</a>
        </nav>
    </header>

    <section class="container content">
        <!-- Display the image from the public folder -->
        <img src="public/img.jpg">

        <h2>Welcome to Our Website</h2>
        <p>This is the home page content. Feel free to explore our services and contact us for more information.</p>
    </section>

    <footer>
        <p>&copy; 2023 LAHMAR</p>
    </footer>
</body>

</html>
